
<div class="page-bar patac-breadcrumb">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home font-white"></i>
            <span class="font-white">权限配置</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="font-white"></i>
            <a ui-sref="admin.role" class="font-white">角色管理</a>
        </li>
    </ul>
</div>
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">

        <div class="portlet  patac-portlet ">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase">角色管理 </span>
                </div>
                    <button class="btn btn-outline white modal-header pull-right" ng-click="create()"><i class="fa fa-plus"></i>添加</button>
                
            </div>
            <div class="portlet-body">

                <table class="table table-striped table-bordered table-checkable order-column hide" id="role">
                    <thead>
                        <tr>
                            <th><input type="checkbox" class="group-checkable" data-set="#role .checkboxes" /></th>
                            <th> 角色名 </th>
                            <th> 角色描述 </th>
                            <th> 修改人 </th>
                            <th> 操作 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="data in datas" on-repeat-finished>
                            <td>
                                <input type="checkbox" class="checkboxes" value="1" /> </td>
                            <td ng-bind="data.roleName"></td>
                            <td ng-bind="data.roleDesc"></td>
                            <td ng-bind="data.modifyUser"></td>
                            <td>
                                <button class="btn btn-outline white" action="edit" data-id="{{data.id}}" data-toggle="modal" href="#draggable" ng-click="upData($event)">修改</button>
                                <button class="btn btn-danger" action="delete" data-id="{{data.id}}" ng-click="delData(data.id)">删除</button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade draggable-modal" id="draggable" tabindex="-1" role="basic" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog">
    <form class=" form-row-seperated" method="post" name="roleForm" ng-submit="save(roleForm)" ng-validate="validationOptions">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center font-green-sharp bold uppercase" ng-bind="action">角色编辑</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                <div class="col-md-12">
                        <div class="portlet">
                            <div class="portlet-body">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-36 col-sm-6">
                                            <div class="form-group form-md-line-input">
                                                <input type="text" class="form-control" name="roleName" id="resourceName" placeholder="请输入角色名"
                                                ng-model="data.roleName" required>
                                                <label for="roleName">角色名
                                                    <span class="required"> * </span>
                                                </label>
                                            </div>
                                        </div>
                                       
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group form-md-line-input">
                                                <input type="text" class="form-control" id="roleDesc" name="roleDesc" placeholder="请输入角色描述限"
                                                ng-model="data.roleDesc" >
                                                <label for="roleDesc">角色描述</label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    

                                    <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject font-green-sharp bold uppercase">资源列表</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div id="tree_2" class="tree-demo scroller" style="height: 290px;"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                </div>
                                
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn green">保存</button>
            </div>
        </div>

    </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>